@font-face {
  font-family: 'Convergence';
  src: local("Convergence"), url("../fonts/Convergence/Convergence-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Jockey-One';
  src: local("Jockey-One"), url("../fonts/Jockey_One/JockeyOne-Regular.ttf") format("truetype"); }

/* Variables and  Mixins */
/* Start styles */
html {
  background: #201c29; }

body {
  font-family: Convergence, Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-size-adjust: 0.5;
  line-height: 1.28em;
  color: #2c273a;
  background: #fffcf1;
  width: 96%;
  margin: 0 auto;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }

header {
  font-size: 0.95em;
  line-height: 1;
  position: relative;
  min-height: 25px;
  margin: 20px 0 0;
  padding: 5px 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom: 1px solid #999;
  background: #ced0d6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ced0d6 0%, #b4b2b7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ced0d6), color-stop(100%, #b4b2b7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ced0d6 0%, #b4b2b7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ced0d6 0%, #b4b2b7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ced0d6 0%, #b4b2b7 100%);
  /* IE10+ */
  background: linear-gradient(top, #ced0d6 0%, #b4b2b7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ced0d6', endColorstr='#b4b2b7',GradientType=0 );
  /* IE6-9 */ }
  header h1 {
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: -2px 0 1px rgba(255, 255, 255, 0.9);
    display: inline-block;
    width: auto;
    padding: 0 20px 0 0;
    border-right: 1px solid #999; }
    header h1 em {
      opacity: .8; }

#views {
  line-height: .8;
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  #views li {
    display: inline-block;
    vertical-align: middle; }
    #views li a {
      display: inline-block;
      width: 35px;
      height: 0;
      padding: 23px 5px 0 5px;
      overflow: hidden;
      background: #dddddd url(../img/views.png) no-repeat 0 0;
      border: 1px solid #bbb;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
    #views li#sidebyside a {
      background-position: 6px 2px; }
    #views li#overlay a {
      background-position: -38px 2px; }
    #views li#mask a {
      background-position: -79px 2px; }
  #views strong {
    text-transform: uppercase; }

#main {
  overflow: auto;
  background: #e6e6e6;
  padding: 10px; }

#toolbar {
  float: left;
  width: 2%;
  min-width: 30px;
  margin: 0 0.5% 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  #toolbar li {
    display: block;
    margin: 0;
    width: 30px;
    height: 31px; }
  #toolbar li a {
    display: block;
    width: 22px;
    height: 22px;
    padding: 4px;
    background-color: #eee;
    border-top: 1px solid #ccc; }
  #toolbar li:first-child a {
    border-top: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px; }
  #toolbar li a > img {
    height: 22px;
    width: 22px; }

#versions {
  float: left;
  width: 95.5%;
  overflow: auto;
  position: relative;
  padding: 10px 0; }
  #versions nav {
    background: #888;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px; }

#previous-version {
  float: left;
  width: 49.75%;
  margin-right: 0.5%; }

#previous-version nav ul li {
  display: inline-block;
  vertical-align: middle; }
  #previous-version nav ul li a {
    display: inline-block;
    overflow: hidden;
    width: 10px;
    height: 0;
    padding: 18px 6px 0;
    background: #dddddd url(../img/nav-arrows.png) no-repeat 0 4px;
    border: 1px solid #bbb; }
  #previous-version nav ul li#prev-button a {
    background-position: 5px 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px; }
  #previous-version nav ul li#next-button a {
    background-position: -14px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px; }

#current-version {
  float: right;
  width: 49.75%; }

#previous-version nav,
#current-version nav {
  padding: 5px 0;
  margin: 0 0 25px; }

.preview {
  line-height: 0;
  text-align: center;
  background: #ccc;
  border: 1px solid #888;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-box-shadow: inset 1px 1px 8px #888;
  -webkit-box-shadow: inset 1px 1px 8px 5px#888;
  box-shadow: inset 1px 1px 8px #888; }
  .preview img {
    background: white url(../img/transparent-bg.png) repeat 0 0; }

.version-details p.author img {
  width: 16px;
  height: 16px; }

.commit ul {
  margin: 10px 0; }

.commit li {
  display: inline-block; }

footer {
  color: #666;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc; }
